html {
    position: relative;
    min-height: 100%;
  }

body {
    height: 100%;
    margin-bottom: 60px;
  }

.navbar-brand {
  font-size: 200%;
}

.section-title {
  text-align: center;
  margin: 4% auto;
}

.banner {
  background-image: url('/static/images/thomas-tucker-2q3RH6grop4-unsplash (1).jpg');
  height: 40vh; 
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-message {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.searchbar {
  width: 80%;
  max-width: 50vh;
}

.search-btn {
  width: 100%;
  margin-top: 2%;
}

.card {
  max-height: 40rem;
  max-width: 20rem;
  margin: auto;
}

.fa-info {
  background-image: url('/static/images/frankie-lu-mvSnr7qxzPM-unsplash.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.op-info {
  background-image: url('/static/images/manuel-t-UQEWkszc3mY-unsplash.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.ac-info {
  background-image: url('/static/images/lauren-wyckoff-SrWw838OBWQ-unsplash.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.default-info {
  background-image: url('/static/images/david-leveque-21-lfJcLMVw-unsplash.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #212529;
  text-align: center;
}