html {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}

body {
  height: 100vh;
  background-color: rgba(242, 242, 242, 1);
  font-family: 'Noto Sans', sans-serif;
}

h1, h2{
  font-weight: 500;
  font-family: 'Noto Sans', sans-serif;
}

h3 {
  font-weight: 400;
  font-family: 'Noto Sans', sans-serif;
}

.navbar-brand {
  font-size: 200%;
}

.banner {
  background: url('https://res.cloudinary.com/dgosfiw2e/image/upload/v1657890093/media/banner_img_cbkslq.jpg');
  height: 40vh; 
  width: 100%;
  background-size: cover;
}

.ad-list-bg {
  min-height: 100vh;
}

.ad-col {
  height: 200px;
}

.card {
  border: 1px solid #212529;
}

.card-header {
  background: rgba(25, 135, 84, 0.5);
}

.ad-description, .card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fa-info {
  background-image: url('https://res.cloudinary.com/dgosfiw2e/image/upload/v1657912463/media/showroom_isxqk2.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.op-info {
  background-image: url('https://res.cloudinary.com/dgosfiw2e/image/upload/v1657912392/media/optic_gdrxjl.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.ac-info {
  background-image: url('https://res.cloudinary.com/dgosfiw2e/image/upload/v1657912427/media/accessory_dpx6lv.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.default-info {
  background-image: url('https://res.cloudinary.com/dgosfiw2e/image/upload/v1657912339/media/ammo_pzr5re.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.info-container {
  height: 90%;
  width: 80%;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 2px;
  overflow: scroll;
}

.title-card {
  margin: 4% auto;
  height: auto;
  text-align: center;
  border-radius: 0;
}

.ad-img-card {
  width: 70%;
  max-width: 800px;
  max-height: 800px;
  height: auto;
  margin: auto;
  border-radius: 0;
}

.ad-img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.info-card {
  margin: 4% auto;
  height: auto;
  border-radius: 0;
}

.description-card {
  margin: 4% auto;
  height: auto;
  border-radius: 0;
}

.contact-seller {
  margin: 4% auto;
  height: auto;
  border-radius: 0;
}

.my-ads-bg {
  min-height: 90vh;
}

.edit-ad-bg {
  min-height: 90vh;
}

.form input,
.form textarea,
.form select,
.input-group {
  border-radius: 0;
  border-color: #212529;
  max-width: 600px;
}

.auth-container {
  min-height: 90vh;
  max-width: 800px;
}

.auth-container input {
  border-color: #212529;
  border-radius: 0;
  max-width: 500px;
}

.footer {
  height: 60px;
}