{% extends "base.html" %}

{% block content %}

{% if advert.type == "1" %}
<div class="fa-info bg-image d-flex justify-content-center align-items-center">
{% elif advert.type == "2" %}
<div class="op-info bg-image d-flex justify-content-center align-items-center">
{% elif advert.type == "3" %}
<div class="ac-info bg-image d-flex justify-content-center align-items-center">
{% else %}
<div class="default-info bg-image d-flex justify-content-center align-items-center">
{% endif %}


</div>

{% endblock %}