{% extends "base.html" %}

{% block content %}

{% if advert.type == "firearm" %}
<div class="fa-info bg-image d-flex justify-content-center align-items-center">
{% elif advert.type == "optic" %}
<div class="op-info bg-image d-flex justify-content-center align-items-center">
{% elif advert.type == "accessory" %}
<div class="ac-info bg-image d-flex justify-content-center align-items-center">
{% else %}
<div class="default-info bg-image d-flex justify-content-center align-items-center">
{% endif %}
    <div class="container-fluid info-container">
        <div class="card title-card">
            <div class="card-body">
                <h2>{{ advert.title }}</h2>
            </div>
        </div>
        <div class="card ad-img-card">
            <div class="card-body">
                <img src="{{ advert.featured_image.url }}" class="ad-img"
                    alt="Image of item for sale">
            </div>
        </div>
        <div class="card info-card">
            <div class="card-body">
                <h3>Key Information</h3>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">MAKE</th>
                            <td>{{ advert.item_make }}</td>
                        </tr>
                        <tr>
                            <th scope="row">MODEL</th>
                            <td>{{ advert.item_model }}</td>
                        </tr>
                        <tr>
                            <th scope="row">CALIBRE</th>
                            <td>{{ advert.calibre }}</td>
                          </tr>
                          <tr>
                            <th scope="row">PRICE</th>
                            <td>&euro;{{ advert.price }}</td>
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-body description-card">
                <p id="desc-p">{{ advert.description }}</p>
            </div>
        </div>
        <div class="card contact-seller">
            <div class="card-body contact-seller">
                <p>Posted on: {{ advert.created_on }}</p>
                {% if user.is_authenticated %}
                
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}