{% extends "base.html" %}

{% block content %}

<div class="container-fluid ad-list-bg">

    <!-- Banner Image -->
    <div class="row banner">
        <div class="bg-image d-flex justify-content-center align-items-center">
        </div>
    </div>

    <!-- Section Heading -->
    <div class="row">
        <div class="col text-center mt-3">
            <h2>Latest Adverts</h2>
            <hr class="w-50 mb-4 mx-auto">
        </div>
    </div>

    <!-- Advert List -->
    <div class="row">
        {% for advert in advert_list %}
        <div class="col-md-4 col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card rounded-0">
                <div class="card-header text-center">
                    <h5 class="my-auto">{{ advert.title }}</h5>
                </div>
                {% if advert.featured_image %}
                <a href="{% url 'advert_info' advert.slug %}">
                <img class="card-img-top p-4 my-auto rounded-0" src="{{ advert.featured_image.url }}"
                    alt="{{ advert.title }}">
                </a>
                {% else %}
                <a href="{% url 'advert_info' advert.slug %}">
                <img class="card-img-top p-4 my-auto rounded-0"
                    src="{% if DEBUG %}{{ MEDIA_URL }}noimage.png{% else %}https://res.cloudinary.com/dgosfiw2e/image/upload/v1657483621/media/noimage_mpqe58.png{% endif %}"
                    alt="{{ advert.title }}">
                </a>
                {% endif %}
                <div class="card-body">
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="card-text">{{ advert.description|truncatechars:100 }}</p>
                            <p class="lead mb-0 text-left fw-bold">€{{ advert.price }}</p>
                            <p>{{ advert.created_on }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}