{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="col-12">

      <!-- Section Heading -->

      <div class="row">
          <h2 class="section-title">My Adverts</h2>
      </div>

      <!-- Filtered Advert List -->

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-center">
          {% for advert in advert_list %}
          <div class="col-9 mb-3">
              <div class="card mb-3">
                  <div class="card-body">
                      <img src="{{ advert.featured_image.url }}" class="card-img-top" alt="Image of item for sale">
                      <h4 class="card-title">{{ advert.title }}</h4>
                      <p class="card-text ad-description">{{ advert.description }}</p>
                      <p class="card-text"><small class="text-muted">Advert created: {{ advert.created_on }}</small>
                      </p>
                      <a href="{% url 'edit_advert' %}" class="btn btn-outline-dark">Edit Advert</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

{% endblock%}