{% extends "base.html" %}

{% block content %}

<div class="container-fluid edit-ad-bg mx-auto">
  <div class="row">
      <div class="col-12 col-md-6 mx-auto text-center">
          <hr>
          <h5>Post Advert</h5>
          <hr>
      </div>
  </div>

  <div class="row">
      <div class="col-12 col-md-6 mx-auto">
          <form method="POST" action="{% url 'post_advert' %}" class="form mb-2" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form | crispy }}
              <div class="text-end my-4">
                  <a class="btn btn-success rounded-0" href="{% url 'home' %}">Cancel</a>
                  <button class="btn btn-success rounded-0" type="submit">Post Advert</button>
              </div>
          </form>
      </div>            
  </div>
</div> 

{% endblock%}